.gitignore
.vscode-test.mjs
.vscode/**
.vscode-test/**
src/**
out/emoji-map.js
out/test/**
out/**/*.map
node_modules/**
scripts/**
examples/**
*.vsix
eslint.config.mjs
package-lock.json
tsconfig.json
vsc-extension-quickstart.md
